@use '../../styles/globals' as g;

.mainContainer{
    position: relative;
    box-sizing: border-box;
    min-width: 100%;
    padding: 0;
    min-height: calc(100vh - g.$mobile-NavBar-height);
    // border-radius: 50px;
    color: black;
    // z-index: 102;
    // @include g.create-flexbox(column, center);
    @include g.display-large{
        min-height: calc(100vh - g.$desk-NavBar-height);
        padding: 10vh 0 0;
        // background-color: blue;
    }
    .dataContainer{
        box-sizing: border-box;
        position: relative;
        z-index: 101;
        top: calc(g.$mobile-NavBar-height + 5vh);
        width: 100%;
        padding: 0;
        color: g.$white-color;
        // background-color: blue;
        @include g.create-flexbox(column, center);
        gap: 5vh;
        @include g.display-large{
            top: g.$desk-NavBar-height;
            width: 70%;
            align-items: center;
            height: 50%;
            max-width: 900px;
        }
        // background-color: blue;
        .role{
            color: white;
            box-sizing: border-box;
            // margin-top: 12vh;
            width: 100%;
            padding: 0px 10vw;
            // background-color: rgba(0,0,0, 0.5);
            border-radius: 3px;
            text-align: left;
            @include g.display-large{
                text-align: left;
            }
        }
    }
    // .shape{
    //     display: none;
    //     @include g.display-large{
    //         position: absolute;
    //         box-sizing: border-box;
    //         z-index: 100;
    //         background: linear-gradient(to right, rgb(4, 8, 46), g.$main-color); 
    //         height: min(70vw, 70vh);
    //         min-height: 100px;
    //         max-height: 180px;
    //         width: 22vw;
    //         top: 37vh;
    //         right: 0;
    //         padding-left: calc(90px - 5vw);
    //         color: white;
    //         @include g.create-flexbox(column, center);
    //         .firstName{
    //             font-size: 27px;
    //         }
    //         .lastName{
    //             font-size: 18px;
    //         }
    //     }
    // }
}