@use '../../styles/globals' as g;

.mainContainer{
    position: relative;
    box-sizing: border-box;
    min-width: 100%;
    padding: g.$mobile-NavBar-height 0px;
    min-height: calc(100vh - g.$mobile-NavBar-height);
    // border-radius: 50px;
    color: black;
    // z-index: 102;
    // @include g.create-flexbox(column, center);
    @include g.display-large{
        min-height: calc(100vh - g.$desk-NavBar-height);
        padding: 10vh 0 0;
        // background-color: blue;
    }
    @include g.create-flexbox(column, start);
    .dataContainer{
        // display: inline-block;
        box-sizing: border-box;
        position: relative;
        z-index: 101;
        // top: calc(g.$mobile-NavBar-height);
        width: 100%;
        padding: 0;
        color: g.$white-color;
        // background-color: blue;
        @include g.create-flexbox(column, center);
        gap: 5vh;
        @include g.display-large{
            top: g.$desk-NavBar-height;
            width: 70%;
            align-items: center;
            // height: 50%;
            max-width: 900px;
        }
        // background-color: blue;
        .role{
            color: white;
            box-sizing: border-box;
            // margin-top: 12vh;
            width: 100%;
            padding: 0px 10vw;
            // background-color: rgba(0,0,0, 0.5);
            border-radius: 3px;
            text-align: left;
            @include g.display-large{
                text-align: left;
            }
        }
    }
}