@use '../../../styles/globals' as g;

.mainContainer{
    // position: relative;
    padding: 12vh 5vw;
    min-height: 100vh;
    // background-color: g.$main-color;
    .back{
        position: fixed;
        box-sizing: border-box;
        height: 35px;
        width: 60px;
        right:0;
        top:7px;
        text-decoration: none;
        background-color: g.$main-color;
        color: g.$white-color;
        border-top: 1px solid black;
        border-left: 1px solid black;
        border-bottom: 1px solid black;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        box-shadow: 7px 7px 5px 1px rgba(57, 57, 57, .7);
        @include g.create-flexbox(row, center);
    }
    .mainTitle{
        text-align: center;
        margin-bottom: 30px;
    }
    h6{
        text-align: center;
        padding: 20px 0;
    }
    .resumen{
        width: 100%;
        margin-bottom: 20px;
    }
    .link{
        position: relative;
        box-sizing: border-box;
        text-decoration: none;
        // background-color: red;
        color: black;
        border: 1px solid black;
        border-radius: 3px;
        padding: 10px 15px;
    }
}